# Окружение и черновики
.env
/.sketches/

# Исключения для папки layout
/layout/*
!/layout/release/

# WordPress - игнорируем системные папки
/wp-content/plugins/
/wp-content/uploads/

# WordPress - правильный подход к теме
/wp-content/themes/*
!/wp-content/themes/illoprinblog26/
/wp-content/themes/illoprinblog26/vendor/
